/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Custom Scrollbar*/

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(180, 180, 180) rgb(224, 224, 224);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

*::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.miniloader-blue {
  border-top-color: rgba(37, 99, 235);
}

.miniloader-gray {
  border-top-color: rgb(255, 255, 255);
}
