# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
build
node_modules
/.pnp
.pnp.js
globalconfig

# testing
/coverage

# misc
.DS_Store
.env.development
.env.test
.env.production
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
